<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Cadet <%= @cadet.lastName %>,</p>
    <p>
        A new On the Spot Correction has been created for you on ROTSee:
    </p>
    <p><%= @otsc.date %>:</p>
    <p>"<%= @otsc.description %>"</p>
    <br>
    <p>You now have <%= @num_otscs %> OTSC(s). If you have any questions, please speak with your Squadron Commander.</p>
    <p>
      Visit https://rotsee2.herokuapp.com/ for more details.
    </p>
  </body>
</html>