<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Cadet <%= @cadet.lastName %>,</p>
    <p>
        A new On the Spot Correction has been created for you on ROTSee:
    </p>
    <p><%= @otsc.date %>:</p>
    <p><%= @otsc.description %></p>
    <br>
    <p>This is your second OTSC of the semester. You will need to write a memorandum explaining your understanding of the issue
    and how you will prevent the same issue in the future. The memo is due to your SQ/CC NLT <%= @otsc.date.next_day(3) %>.</p>
    <br>
    <p>If you have any questions, please speak with your SQ/CC.</p>
  </body>
</html>