<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cadet <%= @cadet.lastName %>,</h1>
    <p>
      A new post has been created on ROTSee
      for <%= @cadet.flight %> Flight.<br>
    </p>
  </body>
</html>