<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Cadet <%= @cadet.lastName %>,</p>
    <p>
      A new post has been created on ROTSee for <%= @cadet.flight %> Flight.<br>
    </p>
    <br>
    <p>
      Visit http://afrotsee.com/ for more details.
    </p>
  </body>
</html>